* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --skew-deg: 22.5deg;
}

/* GRID LAYOUT */

.skewgrid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
}

#grid_image1 {
  grid-column: 1 / 6;
  grid-row: 1;
}

#grid_image2 {
  grid-column: 3/ 10;
  grid-row: 1;
  z-index: 1;
  transform: skewX(var(--skew-deg));
  box-shadow: 0px 0px 40px 35px black;
}

#grid_image3 {
  grid-column: 6 / 12;
  grid-row: 1;
}

.img-container {
  overflow: hidden;
}

.img-container img {
  display: inline-block;
  height: 100%;
}

#image1 {
  position: relative;
  left: -200px;
}

#image2 {
  position: relative;
  left: -400px;
  transform: skewX(calc(-1 * var(--skew-deg)));
}

#image3 {
  position: relative;
  left: -100px;
}

/* SIGN UP FORM */
.sign-up-form-container {
  position: fixed;
  top: 25%;
  left: 50%;
  translate: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.sign-up-form-container h1 {
  color: white;
}
